:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body * + * {
  margin-top: 20px;
}

body {
  font-family: "Circular Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #5e5e5e;
  background-color: #f3f9f3;
  text-align: center;
}

.container {
  padding: 29px;
  margin-top: 115px;
}

.form-group > input:not([type="checkbox"]):not([type="radio"]) {
  display: block;
  width: 100%;
  margin-top: 0;
  padding: 15px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.primary {
  padding: 13px;
  background-color: #5c8d89;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
}

.container > h2 {
  margin: auto;
  font-size: 30px;
}
.text {
  margin: auto;
}

/*---Media Queries --*/
@media (min-width: 50em) {
  .form {
    padding: 5px 632px;
    margin: 1px 1px;
  }
  input {
    font-size: 22px;
  }
  .text {
    font-size: 20px;
  }
}
